= render :partial => "facebook_js_sdk"
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=PT+Sans+Narrow'
.top_bar.faq
  = image_tag ("fsm_logo_topbar.png")
.bg-plaid
  .w8col
    = render :partial => 'terms'
  = render :partial => 'footer'
  = render :partial => 'social_marketing'