= render :partial => "facebook_js_sdk"
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=PT+Sans+Narrow'
.top_bar.faq
  = image_tag ("fsm_logo_topbar.png")
.bg-plaid
  .w8col
    %h1 Frequently Asked Questions
    %h2 What social media platforms do you support?
    %p
      We currently support Facebook, Twitter, Linkedin, and Github. We are working to bring
      you more integrations.  If you would like us to add specific platforms or have 
      suggestions, please drop us a line on our 
      #{link_to "support", "https://yetimedia.zendesk.com/home", :target => "_blank"} page. We would love to hear 
      from you!
    %h2 Where is Friendscan My Facebook Page?
    %p
      We are working on supporting Facebook pages right now. It should be ready shortly.
    %h2 Where is log in with Linkedin, Instagram, or Github?
    %p
      To keep things simple we only support logging in with Facebook or Twitter.  Sign up 
      with Facebook or Twitter and you will unlock the options to add Instagram, Linkedin, 
      or Github.
    %h2 Where can I get QR Code Scanners?
    %p
      QR code scanners can be found in any app store or marketplace. We have listed some 
      free scanners on our home page.
    %h2 Does Friendscan.me have a native app?
    %p
      We currently do not offer a native version of our web application. We are working on 
      one for the Iphone and plan to start developing for Android.
    %h2 Why don’t you have this specific feature on Friendscan.me?
    %p
      Probably because we haven’t thought of it! If you would like to see a specific feature 
      on Friendscan.me, drop us a line on our #{link_to "support", "https://yetimedia.zendesk.com/home", :target => "_blank"} 
      page.
  = render :partial => 'footer'
  = render :partial => 'social_marketing'