= render :partial => "facebook_js_sdk"
.top_bar
  = image_tag ("fsm_logo_topbar.png")
#wrap
  .starburst
    = render :partial => 'flash', :locals => {:flash => flash}
    = render :partial => 'topnav', :locals => { :current_page => 'home' }
    %section.wrapper
      .gutter3col
      .left_splash
        = image_tag ("phone_android.png"), :id => "phone_pic"
      .gutter1col
      %nav.right_splash
        %ul
          %li.fb
            = link_to t('home.facebook.connect') , "/auth/facebook",:id => "signin_", :"data-ajax" => "false"
          %li.tw.last
            = link_to t('home.twitter.connect') , "/auth/twitter",:id => "signin_", :"data-ajax" => "false"
        %h4= t('home.title1')
        %h4
          %span &nbsp;
          = t('home.title2')
        %div.social_marketing
          :plain
            <div class="fb-like" data-href="http://friendscan.me" data-send="true" data-layout="button_count" data-width="200" data-show-faces="true" data-font="tahoma"></div>

            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://friendscan.me" data-text="Get Your Personal #QRCode Now!" data-count="horizontal" data-via="friendscanme">Tweet</a>
            <!-- Place this tag where you want the +1 button to render -->
            <g:plusone annotation="inline" width="100"></g:plusone>
          = pinit_button( "http://friendscan.me", 'http://friendscan.me/assets/phone_android.png', t('og.description'))
        .clear
    .orangeStripe
    .bg_mainContent
      .bgb
        .r1
          .gutter1col
          .d1
            .heading.wis
              %h1= t 'home.what_is_it'
          .d2
            %p= t 'home.wis1'
            %p= t 'home.wis2'
        .hr-dashed
        .r1
          .gutter1col
          .d1
            .heading.qrc
              %h1= t 'home.qr_code'
          .d2
            %p= t 'home.qrc'
        .hr-dashed
        .r1
          .gutter1col
          .d1
            .heading.hts
              %h1= t 'home.how_to_start'
          .d2
            %p= t 'home.hts1'
            %p= t 'home.hts2'
            .padhalfem
            .iphone
              = image_tag("logo-iphone.png")
              %ul
                %li
                  %a{ :href => "http://itunes.apple.com/us/app/qr-reader-for-iphone/id368494609?mt=8&uo=4", :target => "itunes_store"}QR-Reader
                %li
                  %a{ :href => "http://itunes.apple.com/us/app/qrafter-qr-code-reader-generator/id416098700?mt=8&uo=4", :target => "itunes_store" }QRafter
                %li
                  %a{ :href => "http://itunes.apple.com/us/app/shopsavvy-barcode-scanner/id338828953?mt=8&uo=4", :target => "itunes_store" }Shopsavvy
            .android
              = image_tag("logo-android.png")
              %ul
                %li 
                  %a{ :href => "https://play.google.com/store/apps/details?id=la.droid.qr#?t=W251bGwsMSwxLDIxMiwibGEuZHJvaWQucXIiXQ..", :target => "android_store" }QRDroid
                %li 
                  %a{ :href => "https://play.google.com/store/apps/details?id=tw.com.quickmarklite#?t=W251bGwsMSwxLDIxMiwidHcuY29tLnF1aWNrbWFya2xpdGUiXQ..", :target => "android_store" }Quickmark Lite
                %li 
                  %a{ :href => "https://play.google.com/store/apps/details?id=com.ScanLife#?t=W251bGwsMSwxLDIxMiwiY29tLlNjYW5MaWZlIl0.", :target => "android_store" }Scanlife
            .blackberry
              = image_tag("logo-blackberry.png")
              %ul
                %li 
                  %a{ :href => "https://appworld.blackberry.com/webstore/content/86361/?lang=en", :target => "blackberry_store" }QR-Reader
                %li 
                  %a{ :href => "https://appworld.blackberry.com/webstore/content/22249/?lang=en", :target => "blackberry_store" }Code Muncher
                %li 
                  %a{ :href => "https://appworld.blackberry.com/webstore/content/13962/?lang=en", :target => "blackberry_store" }QR Code Scanner Pro
      = render :partial => 'footer'
      = render :partial => 'social_marketing'
