= render :partial => "facebook_js_sdk"
.top_bar
  = image_tag ("fsm_logo_topbar.png")
#wrap
  .starburst
    = render :partial => 'flash', :locals => {:flash => flash}
    .top_nav
      .w100      
        = select_tag :locale, options_for_select(['en', 'es'] , params[:locale]), :"data-native-menu" => "false"
      - if current_user
        %p.user_name
          = t('home.welcome')
          = current_user.name
        %p.user_name
          = link_to t('nav.show'), card_landing_path(current_user.slug)
          |
          = link_to t('nav.edit'), edit_card_path(current_user.slug)
          |
          = link_to t("nav.sign_out"), signout_path , :method => :delete
      - else
    %section.wrapper
      .gutter1col
      .left_splash
        = image_tag ("phone_android.png"), :id => "phone_pic"
      .gutter1col
      %nav.right_splash
        %ul
          %li.fb
            = link_to t('home.facebook.connect') , "/auth/facebook",:id => "signin_", :"data-ajax" => "false"
          %li.tw.last
            = link_to t('home.twitter.connect') , "/auth/twitter",:id => "signin_", :"data-ajax" => "false"
        %h4= t('home.title1')
        %h4
          %span &nbsp;
          = t('home.title2')
    .orangeStripe
    .bg_mainContent
      .bgb
        .r1
          .gutter1col
          .d1
            .heading
              What is it?
          .d2
            %p= t 'home.wis1'
            %p= t 'home.wis2'
        .hr-dashed
        .r1
          .gutter1col
          .d1
            = image_tag ("title-qrc.png")
          .d2
            %p= t 'home.qrc'
        .hr-dashed
        .r1
          .gutter1col
          .d1
            = image_tag ("title-hts.png")
          .d2
            %p= t 'home.hts1'
            %p= t 'home.hts2'
        .hr-dashed
      = render :partial => 'footer'
      = render :partial => 'social_marketing'
  
