- if current_user
  Welcome
  = current_user.name
  = link_to "Sign Out", signout_path , :method => :delete
- else
  = link_to "Sign in with Facebook", "/auth/facebook"
  = link_to "Sign in with Twitter", "/auth/twitter"
  = link_to "Sign in with Linkedin", "/auth/linked_in"
  = link_to "Sign in with Last.fm", "/auth/last_fm"
  = link_to "Sign in with Github", "/auth/github"

