= render :partial => "facebook_js_sdk"
.top_bar
  =image_tag ("fsm_logo_topbar.png")
#wrap
  .starburst
    = render :partial => 'flash', :locals => {:flash => flash}
    - if current_user
      .top_nav
        %p.user_name
          Welcome
          = current_user.name
        %p.user_name
          = link_to "Show", "/#{current_user.slug}"
          |
          = link_to "Edit", "/cards/#{current_user.slug}/edit"
          |
          = link_to "Sign Out", signout_path , :method => :delete
    - else
    %section.wrapper
      .gutter1col
      .left_splash
        = image_tag ("phone_android.png"), :id => "phone_pic"
      .gutter1col
      %nav.right_splash
        %ul
          %li
            %a{:href => "/auth/facebook", :id => "signin_"}
              = image_tag ("fb-connect-large.png"), :id => "signin_"
          %li.last
            %a{:href => 'auth/twitter' , :id => 'signin_'}
              = image_tag ("tw-connect-large.png"), :id => "signin_"
        = image_tag ("slogan.png"), :id => "logo"
    .orangeStripe
    .bg_mainContent
      .bgb
        .r1
          .gutter1col
          .d1
            = image_tag ("title-wis.png")
          .d2
            %p Friend Scan Me is a new way to add friends on Facebook in the real world. Simplify your real world life contacts by translating your social networks into a QR code.
            %p Others can scan your QR code and add you as a friend instantly! No more fumbling with email addresses or spelling names, just scan, confirm, and you're done!
        .hr-dashed
        .r1
          .gutter1col
          .d1
            = image_tag ("title-qrc.png")
          .d2
            %p QR Code stands for quick response code. It is a type of matrix bar code designed to be read by smart-phones. The code consists of black modules arranged in a square pattern.
        .hr-dashed
        .r1
          .gutter1col
          .d1
            = image_tag ("title-hts.png")
          .d2
            %p Just sign in with facebook to get your personalized QR code. Your friends can add you by simply scanning your QR code.

            %p QR code scanners can be found in any application store or marketplace.
        .hr-dashed
      = render :partial => 'footer'
      = render :partial => 'social_marketing'
  
