= image_tag ("friendscanmelogo.gif"), :class => "logo"
- if current_user
  Welcome
  = current_user.facebook_info.user_name
  = link_to "Sign Out", signout_path , :method => :delete
- else
.left_splash
  = image_tag ("iphone4_qrcode.gif"), :class => "banner"
	
%h1 Get your QR code now!
%nav.right_splash
  %ul
    %li= link_to "Sign in with Facebook", "/auth/facebook"
    %li= link_to "Sign in with Twitter", "/auth/twitter"
    %li= link_to "Sign in with Linkedin", "/auth/linked_in"
    %li= link_to "Sign in with Last.fm", "/auth/last_fm"
    %li= link_to "Sign in with Github", "/auth/github"

%section.bg_white
  .left
    %h2 What is friend scan me?
    %p Friend Scan Me simplifies your life by translating your user name from your favorite social network into a QR code 	on your phone.

    %p Others can scan your QR code and add you as a friend instantly! No more fumbling with email addresses or names in noisy places, just scan, confirm, and you're done!

  .middle
    %h2 What is a QR Code?
    %p QR Code stands for quick response code. It is a type of matrix bar code designed to be read by smart-phones. The code consists of black modules arranged in a square pattern.

  .right 
    %h2 Where can I get it?
    %p Friend Scan Me can be downloaded here. It can also be found in the Apple App Store.


