= render :partial => "facebook_js_sdk"
= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=PT+Sans+Narrow'
.top_bar.faq
  =link_to image_tag("fsm_logo_topbar.png"), "/"
  -#= render :partial => 'topnav', :locals => { :current_page => 'faq' }
.bg-plaid
  .top_nav
  .w100      
  - if current_user
    %p.user_name
      = t('home.welcome')
      = current_user.name
    %p.user_name
      = link_to t('nav.home'), locale_home_path, :"data-ajax" => "false"
      |
      = link_to t('nav.edit'), edit_card_path(current_user.slug), :"data-ajax" => "false"
      |
      = link_to t('nav.show'), card_landing_path(current_user.slug), :"data-ajax" => "false"
      |
      = link_to t("nav.sign_out"), signout_path , :method => :delete, :"data-ajax" => "false"
  - else
    %p.user_name
      = link_to "Login", "/"
  .w8col
    %h1 Terms of Service

    %h2 Strict Anti-Spam Policy
    %p This is a free service designed to generate a QR Code that Links to your social media pages of choice (ex Facebook, Twitter, Linkedin, Instagram, and Github) to help make connecting with people easier. Friendscan.me is not be responsible for the nature and content on any social media page connected to the FSM QR code. We reserve the right to disable a QR code that we suspect is being used for spamming or illegal purposes.

    %h2 Terms of Use
    %p Only valid social media accounts (ex: Facebook and Twitter) may sign up for a QR codes through Friendscan.me. Please report abuse to the Administration Team.

    %h2 Link Auto-Deletion
    %p The QR codes that we provide will never expire as long as they are active. “Active” means that the link is scanned at least once per year. If it receives no scans within 1 year of last usage, the link will be automatically deleted.

    %h2 External Links
    %p We do not verify, endorse, or otherwise vouch for the contents of any social media page linked to Friendscan.me. We are not responsible for the contents of The social media pages that are redirected by our service. We are not responsible for advertisements, products, or any other materials on or available from such web sites or resources.  Friendscan.me is not directly affiliated with Facebook, Twitter, Linkedin, Github, or Instagram.

    %h2 Copyright
    %p No artwork, graphics or written content may be copied or reproduced from this site without our prior permission.

    %h2 Disclaimer
    %p 
      This site is provided without warranty of any kind. There are no guarantees that it will be available at any given time, and no guarantees that this site or service will not be subject to interruptions. All direct or indirect risk related to use of this site is borne entirely by you, the user.
    %p
      We reserve the right to amend or change these policies, terms and conditions at any time and without prior notice.

    %h2 Minors and Parental Participation.
    %p We strongly recommend that minors 13 years of age or older ask their parents for permission before registering for Friendscan.me or sending any information about themselves to anyone over the Internet. We encourage parents to educate their children about safe internet use practices. Friendscan reserves the right to: (i) restrict the use of any Yeti media Website, in whole or in part, by minors; (ii) add special protections for minors (such as to provide them with an age-appropriate experience); and (iii) place restrictions on the ability of adults to share and connect with minors, recognizing this may provide minors a more limited experience on Friendscan.me
  = render :partial => 'footer'
  = render :partial => 'social_marketing'