.top_bar
  =link_to image_tag("fsm_logo_topbar.png"), "/"
#wrap
  .starburst
    = render :partial => 'flash', :locals => {:flash => flash}
    - if current_user
      .top_nav
        = link_to "Home", "/"
        |
        Edit
        |
        = link_to "Show" , card_landing_path(@user.slug)
        |
        - if !is_mobile_device?
          = link_to "Sign Out", signout_path , :method => :delete
      .vcard-container
        .layer
          .card-header
            - if @user.has_social?(:facebook)
              = image_tag("http://graph.facebook.com/#{@user.facebook_info.uid}/picture", :class => "avatar")
            - elsif @user.has_social?(:twitter)
              = image_tag("https://api.twitter.com/1/users/profile_image?screen_name=#{@user.twitter_info.user_name}", :class => "avatar")
            %h1.name= current_user.name
            - if !is_mobile_device?
              = link_to "View your QR Code", "javascript:void(0)", :class => 'qr-code-link'
              = link_to "Bookmark your card", "javascript:void(0)", :class => 'bookmark-link'
          .panel
            .social
              -#%nav.silvergradient
                %ul
                  %li #{link_to "Home", "/"}
                  %li #{link_to "Add as Friend", "#"}
                  %li #{link_to "Card", card_landing_path(@user.slug)}
              %ul
                %li.qrcode          
                  - if is_mobile_device?
                    #center
                      .image
                        = image_tag_qr_code(@user)
                      .copy-odd
                        Scan this QR code and add
                        %b= current_user.name
                        as a friend instantly!
                  - else
                    #center.bookmark
                      .image= bookmark_qr_code(@user)
                      .copy-odd
                        Scan the QR code &
                        %b 
                          add
                          bookmark this page
                        to start adding friends.
                    #center.your-qr-code
                      .image
                        = image_tag_qr_code(@user)
                      .copy-odd
                        Scan this QR code and 
                        %b
                          add
                          = current_user.name
                        as a friend instantly!
                  %br{:style=> "clear:both"}/
                  - if !current_user.has_social?(:facebook)
                    %li.facebook
                      = link_to "Add Your Facebook Account" , "/auth/facebook"
                  - if !current_user.has_social?(:twitter)  
                    %li.twitter
                      = link_to "Add Your Twitter Account" , "/auth/twitter"
                  - if !current_user.has_social?(:linkedin)  
                    %li.linkedin
                      = link_to "Add Your Linkedin Account" , "/auth/linkedin"    
    = render :partial => 'footer'
    = render :partial => 'google_conversions'
