.top_bar
  %a{ :href => "/" }friendscan.me
#wrap
  .starburst
    = render :partial => 'flash', :locals => {:flash => flash}
    - if current_user
      .top_nav
        - if !is_mobile_device?
          = link_to "Home", "/"
          |
          = link_to "Card", card_landing_path(@user.slug)
          |
          = link_to "Sign Out", signout_path , :method => :delete
      .vcard-container
        .layer
          = image_tag("http://graph.facebook.com/#{current_user.facebook_info.uid}/picture", :class => "avatar")
          %h1.name= current_user.facebook_info.user_name
          - if !is_mobile_device?
            = link_to "View your QR Code", "javascript:void(0)", :class => 'qr-code-link'
            = link_to "Bookmark your card", "javascript:void(0)", :class => 'bookmark-link'
          .panel
            .social
              %ul
                %li.qrcode.last-right.last-left          
                  - if is_mobile_device?
                    #center
                      .image
                        = image_tag_qr_code(@user)
                      .copy-odd
                        Scan this QR code and
                        %b= current_user.facebook_info.user_name
                        as a friend instantly!
                  - else
                    #center.bookmark
                      .image= bookmark_qr_code(@user)
                      .copy-odd
                        Scan the QR code &
                        %b 
                          add
                          bookmark this page
                        to start adding friends.
                    #center.your-qr-code
                      .image
                        = image_tag_qr_code(@user)
                      .copy-odd
                        Scan this QR code and 
                        %b
                          add
                          = current_user.facebook_info.user_name
                        as a friend instantly!
                  %br{:style=> "clear:both"}/
    = render :partial => 'footer'
    = render :partial => 'google_conversions'
