.vcard-container
  .layer
    / |
    / = link_to_qr_code(@user)
    = image_tag("http://graph.facebook.com/#{current_user.facebook_info.uid}/picture", :class => "avatar")
    %h1.name= current_user.facebook_info.user_name
    = link_to "Your card" , card_landing_path(@user.slug), :popup => true
    %br{:style => "clear:both;"}/
    .panel
      .social
        %ul
          %li.qrcode.last-right.last-left
            #middle
              = image_tag_qr_code(@user)
            #right
              %p Preview your show page by scanning your QR Code!
              %p Download Friend Scan Me on your phone! #{ image_tag ("icn-androidstore.png")}
            %br{:style=> "clear:both"}/
-#                %li.twitter
-#                  %a{:href => "#"} Twitter
-#                %li.linkedin
-#                  %a{:href => "#"} Linkedin
-#                %li.lastfm
-#                  %a{:href => "#"} Last.fm
-#              %ul
-#                %li.facebook
-#                  %a{:href => "#"} Facebook
-#                %li.myspace
-#                  %a{:href => "#"} Myspace
-#                %li.flickr.last-right.last-left
-#                  %a{:href => "#"} Flickr
-#  %br{:style => "clear:both"}/