.top_bar
  =link_to image_tag("fsm_logo_topbar.png"), "/"
#wrap
  .starburst
    = render :partial => 'flash', :locals => {:flash => flash}
    - if current_user
      .top_nav
        .w100      
          = select_tag :locale, options_for_select(['en', 'es'] , params[:locale]), :"data-native-menu" => "false"
        = link_to t('nav.home'), locale_home_path
        |
        = link_to t('nav.edit'), edit_card_path(@user.slug)
        |
        = link_to t('nav.sign_out'), signout_path , :method => :delete 
    .vcard-container
      .layer
        .card-header
          - if @user.has_social?(:facebook)
            = image_tag("http://graph.facebook.com/#{@user.facebook_info.uid}/picture", :class => "avatar")
          - elsif @user.has_social?(:twitter)
            = image_tag("https://api.twitter.com/1/users/profile_image?screen_name=#{@user.twitter_info.user_name}", :class => "avatar")

          %h1.name= @user.name
        .panel
          .social
            %ul
              - if @user.has_social?(:facebook)
                %li.facebook.card-button
                  = link_to_add_facebook_friend(@user)
              - if @user.has_social?(:twitter)    
                %li.twitter
                  = link_to_twitter_follow(@user)

              %li.get-app.card-button
                = link_to t("cards.show.who_is_scanning_you"), "/auth/facebook"
          
    %br{:style => "clear:both"}/
    = render :partial => 'footer'
