= @user.bio
.vcard-container
  .layer
    = image_tag("http://graph.facebook.com/#{@user.facebook_info.uid}/picture", :class => "avatar")
    %h1.name= @user.facebook_info.user_name
    %br{:style => "clear:both;"}/
    .panel
      .social
        %ul
          %li.facebook.last-left.last-right
            = link_to_add_facebook_friend(@user)
        %br{:style => "clear:both"}/
