= @user.name

= @user.bio

- if @user.facebook_info
  = link_to_add_facebook_friend(@user)

- if @user.twitter_info
  = link_to_twitter_follow(@user)

- if @user.linked_in_info
  = link_to_linkedin(@user)

- if @user.last_fm_info
  = link_to_last_fm(@user)

- if @user.github_info
  = link_to_github(@user)

