.top_bar
  =link_to image_tag("fsm_logo_topbar.png"), "/"
#wrap
  .starburst
    = render :partial => 'flash', :locals => {:flash => flash}
    - if current_user
      .top_nav
        = link_to "Home", "/"
        |
        = link_to "Edit", "/cards/#{@user.slug}/edit"
        |
        = link_to "Sign Out", signout_path , :method => :delete 
    .vcard-container
      .layer
        - if @user.has_social?(:facebook)
          = image_tag("http://graph.facebook.com/#{@user.facebook_info.uid}/picture", :class => "avatar")
        - elsif @user.has_social?(:twitter)
          = image_tag("https://api.twitter.com/1/users/profile_image?screen_name=#{@user.twitter_info.user_name}", :class => "avatar")

        %h1.name= @user.name
        .panel
          .social
            %ul
              - if @user.has_social?(:facebook)
                %li.facebook.card-button
                  = link_to_add_facebook_friend(@user)
              - if @user.has_social?(:twitter)    
                %li.twitter
                  = link_to_twitter_follow(@user)

              %li.get-app.card-button
                = link_to "Who is scanning you?", "/auth/facebook"
          
    %br{:style => "clear:both"}/
    = render :partial => 'footer'
