.top_bar
  =link_to image_tag("fsm_logo_topbar.png"), "/", :"data-ajax" => "false"
#wrap
  .starburst
    = render :partial => 'flash', :locals => {:flash => flash}
    = render :partial => 'topnav', :locals => { :current_page => 'show' }
    .vcard-container
      .layer
        .card-header
          - if @user.has_social?(:facebook)
            = image_tag("http://graph.facebook.com/#{@user.facebook_info.uid}/picture", :class => "avatar")
          - elsif @user.has_social?(:twitter)
            = image_tag("https://api.twitter.com/1/users/profile_image?screen_name=#{@user.twitter_info.user_name}", :class => "avatar")

          %h1.name= @user.name
        .panel
          .social
            %ul
              - if @user.has_social?(:facebook)
                %li.facebook.card-button
                  = link_to_add_facebook_friend(@user)
              - if @user.has_social?(:twitter)    
                %li.twitter
                  = link_to_twitter_follow(@user)
              - if @user.has_social?(:linkedin)    
                %li.linkedin
                  = link_to_linkedin(@user)    
              - if @user.has_social?(:instagram)    
                %li.instagram
                  = link_to_instagram(@user)    
              - if @user.has_social?(:github)    
                %li.github
                  = link_to_github(@user)    
              %li.editshow-share
                = tweet(t("cards.show.tweet"), card_landing_url(@user.slug))
                = facebook_post(t("cards.edit.facebook.name"),
                                t("cards.edit.facebook.caption"),
                                t("cards.edit.facebook.description"), 
                                card_landing_url(@user.slug), 
                                image_url("apple-touch-icon.png"))
                = pinit_button(card_landing_url(@user.slug),
                   image_url("apple-touch-icon.png"),
                   t("cards.edit.facebook.description"))
              %li.get-app.card-button
                = link_to t("cards.show.who_is_scanning_you"), "/auth/facebook", :"data-ajax" => "false"
                %br
    .store-container
      %a{:href => "https://itunes.apple.com/app/id564838321?mt=8"}
        %img{:src => "/assets/app-store.svg", :xlink => "show", :width => "135", :height => "40", :type => "image/svg+xml", :pluginspage => "http://www.adobe.com/svg/viewer/install/"}
    %br{:style => "clear:both"}/
    = render :partial => 'footer'
