%footer
  .request
    = link_to "Feature Request or Support?", "http://yetimedia.zendesk.com/home", :target => "_blank"
    &nbsp;|&nbsp;
    = link_to "FAQ", "/faq"
    &nbsp;|&nbsp;
    = link_to "Terms of Service", "/terms"
    &nbsp;|&nbsp;
    = link_to "Privacy Policy", "/privacy"
  .hire-copyright
    Hire 
    = link_to (image_tag ("yeti_logo.png"), :id => "footer_img"), "http://yeti-media.com/"
    &copy; Yeti Media #{Time.now.year}

<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script> 
= javascript_include_tag "//assets.pinterest.com/js/pinit.js"
:plain
  <!-- Place this render call where appropriate -->
  <script type="text/javascript">
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
  </script>
  
