%head
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Maven+Pro'
  = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lobster&subset=latin'
  = stylesheet_link_tag 'application'
  = stylesheet_link_tag 'http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css'
  %link{ :href => "/assets/icn-fsm.ico", :rel => "icon" }
  %link{ :href =>"/assets/apple-touch-icon.png", :rel => "apple-touch-icon" }
  %link{ :type => "text/plain", :rel => "author", :href => "/humans.txt"}
  
  = render :partial => "javascripts"

  %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0", :name => "viewport" }/
  %meta{:name => "description", :content => "Friend Scan Me is a new way to add friends on Facebook and Twitter in the real world. Simplify your real world life contacts by translating your social networks into a QR code. Compatible with any Smart Phone"}
  %meta{:name => "keywords", :content => "scan me, qr code generator free, qr code, create qr code, qr code business card generator, qr code create, create your own qr code, qr code iphone, qr code business card, qr code applications, free qr code, quick response code, friend scan me, personalized qr code, qr code marketing, qr code creation, qr code generation, qr code android, qr code download, qr code maker, qr code vcard generator"}
  %meta{:content => "friendscan.com", :property => "og:site_name"}/
  %meta{:content => "Friend Scan Me is a new way to add friends on Facebook and Twitter in the real world. Simplify your real world life contacts by translating your social networks into a QR code.", :property => "og:description"}/
  %meta{:content => "Friend Scan Me translating you into a QR code.", :property => "og:title"}/
  %meta{:content => "company", :property => "og:type"}/
  %meta{:content => "http://friendscan.me/assets/facebook-icon.png", :property => "og:image"}/
  %meta{:content => "http://friendscan.me", :property => "og:url"}/
  %meta{:content => "131951090214210", :property => "fb:app_id"}/
  %title #{title}
  